<div class="container">
  <div class="card card-body bg-primary">
    <h3 class="text-white">Sistema de Funcionários</h3>
    <p class="text-white">
      Projeto Desenvolvido em Aula - COTI Informática
    </p>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      MENU OPÇÕES:
      <hr>
      <ul>
        <li><a routerLink="cadastroFuncionarios">Cadastrar Funcionários</a></li>
        <li><a routerLink="consultaFuncionarios">Consultar Funcionários</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>